* {
    margin: 0;
    border: 0;
    border: none;
}

html {
    line-height: 1.15;
}

body {
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    background-color: #fff;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

section {
    display: block;
}

h2 {
    font-size: 2rem;
}

h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

/* heading and menu */

.header-bgcolor {
    background-color: #ffc107;
    width: 100%;
    height: 4rem;
}

#logo {
    float: left;
    margin: 18px 40px 0 50px;
    width: 15%;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 70px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

ul.menu-direction {
    display: flex;
    justify-content: flex-end;
}

#menu a {
    text-decoration: none;
}

.nav-link {
    color: rgba(0, 0, 0, .5);
}

a.nav-link.btn-regular:hover {
    border-bottom: 1px solid #3a3a3a;
}

.btn {
    display: inline-block;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: .25rem;
}

.btn-outline {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#nav-access,
.home-container {
    margin: 0 auto;
    width: 80%;
}

/* home */

#home-outer {
    width: 100%;
    height: 520px;
    position: relative;
    color: #fff;
    background-color: #ffc107;
}

#home-cover-text,
#home-cover-text h2 {
    color: #fff;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-savings {
    width: auto;
    height: 520px;
    float: right;
    margin: 0rem 10rem 0rem 0rem;
}

.column-left {
    flex-basis: 50%;
    padding-right: 20px;
}

.column-right {
    flex-basis: 50%;
}

.home-quote {
    font-size: 3.5rem;
    font-weight: 300;
    margin-left: 50px;
    margin-bottom: .5rem;
}

#home-quote,
#home-outer p {
    margin-left: 50px;
}

.form-subscribe {
    margin-bottom: 1.4rem;
    margin-top: 1.5rem;
    margin-left: 50px;
    width: 78%;
}

.input-both {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.form-control {
    display: block;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.input-both>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-both-legacy .form-control {
    height: calc(1.5em + .3rem);
}

.input-both-legacy .form-control,
.btn {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.76;
    border-radius: .3rem;
}

.input-both .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.btn-subscribe {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}

/* BOX Sections */
#box {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

.box-space {
    display: flex;
    justify-content: space-evenly;
    margin: 0 150px;
}

.box-content {
    width: 500px;
}

.line {
    display: flex;
    justify-content: center;
}

.img-graphic {
    max-width: 500px;
    height: auto;
}

.grapchic-section {
    position: relative;
    top: 14%;
}

.card-section {
    position: relative;
    top: 38%;
}

.btn-more {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.8rem;
    border-radius: .3rem;
    display: inline-block;
    margin-top: 25px;
}

.img-card {
    max-width: 600px;
    height: auto;
}

/* SECTION SUPPORT FEATURE */

.feature-col {
    max-width: 33.333333%;
    width: 440px;
    text-align: center;
    margin: 20px;
}

.feature-col p {
    width: 400px;
}

.img-support-feature {
    max-width: 370px;
    height: auto;
}

/* FOOTER */

footer p a {
    margin: 5px 15px;
}

.footer-links {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-evenly;
}

.footer-nav {
    margin: auto 0;
}

.footer-nav a, .footer-media-nav a {
    text-decoration: none;
    color: #007bff;
}