* {
    margin: 0;
    border: 0;
    border: none;
}

body {
    font-family: "Segoe UI", Roboto;
}
/* heading and menu */

#logo {
    float: left;
    margin-left: 40px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 15px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: grey;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* home */

#home-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}

#home-cover-text, #home-cover-text h2 {
    color: #fff;
}

#home-image {
    height: 150px;
    width: 100%;
 /* ADD BACKGROUND AND WOMAN*/
}